html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: black;
	color: rgb(175, 170, 160);
	font-family: sans-serif;
	line-height: 150%;
	margin: 0;
}

a {
	color: grey;
	transition: color 0.2s;
}

a:hover, a:active {
	color: white;
}

aside {
	padding: 0 5px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

aside img {
	cursor: pointer;
	display: block;
	opacity: 0.075;
	transition: opacity 0.2s;
}

aside img:hover {
	opacity: 0.25;
}

canvas {
	display: block;
	max-height: 100%;
	max-width: 100%;
}

main {
	height: 100%;
}

p {
	margin: 0;
}

.loading {
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	user-select: none;
}

.github, .code, .info {
	bottom: 15px;
	position: fixed;
}

.code {
	left: 50px;
}

.github {
	left: 90px;
}

.info {
	bottom: 12px;
	left: 8px;
}

.info div {
	bottom: 100%;
	color: rgb(90, 95, 90);
	font-size: 75%;
	position: absolute;
	width: max-content;
}

.dg {
	user-select: none;
}

.dg select {
	max-width: 100%;
}

.hidden {
	display: none;
}
